VITE_SUPABASE_URL=https://jaaathfwpwwhdtrmoism.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImphYWF0aGZ3cHd3aGR0cm1vaXNtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwMjMwMDcsImV4cCI6MjA5NDU5OTAwN30.gbyRCYY9SgiKS0dminEsqjWed24MFe2ZnwlEB_Sic2I
